/* the outmost container of all blog posts */
.container-main {
    margin-top:100px;
}
/* the single column containing all blog posts */
.container-blogs {
    float:right;
}
/* blog content */
.container-content {
    color:black;
    font-size:12px;
    text-overflow: ellipsis;
}
/* title of a blog post */
.blog-title a{
    text-decoration: none;
    cursor: pointer;
    font-size:32px;
    font-weight: bold;
    color:black;
}

/************************************************
 * The area containing info of the blog submittor
 ************************************************/
.profile-area {
    display: flex;
}
/* profile image of the blog submitter */
.img-profile {
    display: inline;
    width:50px;
    height:50px;
    background-color:none;
    border-radius: 50%;
}
.username-profile {
    margin-left:10px;
    margin-top: 0;
    color:#848484;
    font-size:22px;
}
.date-profile {
    margin-left: 5px;
    margin-top:0;
    font-size:16px;
    color:#848484;
}
/* container of message that is shown when no posts are available*/
.display-msg {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 500px;
    text-align: center;
}
/* The display message*/
.display-msg h3 {
    height:250px;
    line-height: 250px;
    white-space: nowrap;
}
