{% extends 'app_blog/base.html' %}
<!-- add additional info to head-->
{% block head %}
    {{ block.super }}
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'error404.css'%}">
{% endblock %}

<!-- use header provided by base -->
{% block header %}
    {{ block.super }}
{% endblock %}

<!-- Add own page content -->
{% block content %}
    <div id='error-msg'>
        <h3 class='text-super'>The page you're looking for doesn't exist!</h3>
    </div>
{% endblock %}
