{% extends 'app_blog/base.html' %}

{% block head %}
    <!-- import parent's content-->
    {{ block.super }}
    <title>Submit new post</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'profile.css' %}">
{% endblock %}

<!-- use header provided by base -->
{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="main-container">
        <!-- title -->
        <div id="title-container">
            <h1>Profile</h1>
            <h4>Tell us a little bit about yourself</h4>
            <hr>
        </div>
        <form method='post'>
            <div id="info-container">
                <!--Name-->
                <div class="row field-container">
                    <div class="col-xs-5 col-md-4 field-name-container">
                        <h3 class="field-name">Name </h3>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <input type="text" name="profile_name">
                    </div>
                </div>
                <!--Occupation-->
                <div class="row field-container">
                    <div class="col-xs-5 col-md-4 field-name-container">
                        <h3 class="field-name">Occupation </h3>
                    </div>
                    <div class="col-xs-7 col-md-8 input-container">
                        <input type="text" name="occupation">
                    </div>
                </div>
                <!--Employment-->
                <div class="row field-container">
                    <div class="col-xs-5 col-md-4 field-name-container">
                        <h3 class="field-name">Employment </h3>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <input type="text" name="employment">
                    </div>
                </div>
                <!-- biography -->
                <div class="row field-textarea-container">
                    <div class="col-xs-5 col-md-4 field-name-container">
                        <h3 class="field-name">Biography </h3>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <textarea name="biography"></textarea>
                    </div>
                </div>
                <input id="btn-save" type="submit" value="save">
            </form>
        </div>
    </div>
{% endblock %}
