{% extends 'app_blog/base.html' %}
<!-- add additional info to head-->
{% block head %}
    {{ block.super }}
    <title>New Blog Submission</title>
    <link rel="stylesheet" type="text/css" href="static/newpost.css">
{% endblock %}

<!-- use header provided by base -->
{% block header %}
    {{ block.super }}
{% endblock %}

<!-- Fill the actual page content -->
{% block content %}
<div id='main-container'>
    <!-- title of the main pane -->
    <div>
        <h1 id="title">Enter your submission</h1>
    </div>
    <hr>

    <!-- submission form -->
    <form method='post'>
        <h2>Subject:</h2>
        <input id='subject' type='text' name='subject' value='{{subject}}'>
        <br>
        <h2>Content:</h2>
        <textarea name='content'>{{content}}</textarea> <br>
        <input id='btn-submit' type='submit'>
    </form>
    <div class='error'>
        {{error}}
    </div>
</div>
{% endblock %}
