{% extends 'app_blog/base.html' %}

{% block head %}
    <!-- import parent's content-->
    {{ block.super }}
    <title>Submit new post</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'welcome.css' %}">
{% endblock %}

<!-- use header provided by base -->
{% block header %}
<div class='container-fluid'>
    <div class='row'>
        <!-- page title-->
        <div class='col-xs-6 col-sm-6 col-md-8' id="title-header">
            <h1 class="text-left text-super">
                <a href="{% url 'app_blog:homepage' %}">
                    BLOGzzz
                </a>
            </h1>
        </div>
            <!-- Sign Out button-->
            <div class='col-xs-6 col-sm-3 col-md-2 btn-header'>
                <a href="/signout">
                    <span>Sign Out</span>
                </a>
            </div>
            <!-- my profile button-->
            <div class='col-xs-6 col-sm-3 col-md-2 btn-header'>
                <a href="{% url 'app_blog:edit_profile' user.username %}">
                    <span>Edit Profile</span>
                </a>
            </div>
        </div>
    </div> <!-- row-->
</div> <!-- container-->
{% endblock %}

{% block content %}
    <!-- first pane: welcome user-->
    <div class="container-fluid">
        <div class="row container-welcome">
            <h1 id='text-welcome'>Welcome</h1>
            <div id='btn-newpost'>
                <!-- newpost link button -->
                <a href="/{{user.username}}/newpost">
                    <span>write new post</span>
                </a>
            </div>
        </div>
    </div>

    <!-- second pane: user submission history-->
    <div id="title-history-container">
        <!-- title of the second pane-->
        <h3>
            Your Submission History
        </h3>
    </div>
    <hr style="width:70%;">
        <!--message shown if user has no blogs submitted-->
        <div class='display-msg'>
            <h3>
                Nothing....
            </h3>
        </div>
    </div>
{% endblock %}
