{% extends 'app_blog/base.html' %}
<!-- add additional info to head-->
{% block head %}
    <!-- import parent's content-->
    {{ block.super }}

    <title>Sign Up</title>
    <link rel='stylesheet' type='text/css' href='static/signin.css'>
{% endblock %}
<!-- use custom header for sign-in and sign-up pages -->
{% block header %}
    {% include 'app_blog/registration_header.html' %}
{% endblock %}

<!-- Add own page content -->
{% block content %}
    <!--Sign Up box-->
    <div class='container-panel'>
        <div class="title-container">
            <h1>Sign Up</h1>
        </div>
        <!-- Sign Up form-->
        <form method='post'>
            {% csrf_token %}
            <!--username input-->
            <h3 class='form-title'>
                username
            </h3>
            {{ form.username }}
            <br>
            <!--ERROR message for username input-->
            <label>
                {{ form.username.errors }}
            </label>
            <!--password input-->
            <h3 class='form-title'> password </h3>
            {{ form.password }}
            <br>
            <!--ERROR message for password input-->
            <label>
                {{ form.password.errors }}
            </label>
            <!--verify password input-->
            <h3 class='form-title'>
                verify password
            </h3>
            {{ form.verify_password }}
            <br>
            <!--ERROR message for verify password input-->
            <label>
                {{ form.verify_password.errors }}
            </label>
            <!--email input-->
            <h3 class='form-title'>
                e-mail:
            </h3>
            {{form.email}}
            <br>
            <label>
                {{ form.email.errors }}
            </label>
            <br>
            <br>
            <input type='submit' class='btn'>
        </form>
    </div>
{% endblock %}
